# Node modules
node_modules/
.section02/node_modules/
.section03/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build
.next/
out/

# Build output
dist/
build/

# Env files
.env*
!.env.example

# OS/System
.DS_Store
Thumbs.db

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# IDE 설정
.vscode/
.idea/

# Optional: coverage report
coverage/

# Optional: local database or uploads
*.sqlite
uploads/